@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  min-height: 100vw;
}

.item_for_sale {
  float: left;
  position: relative;
}

.image_tshirt {
  border: .2em solid #84BBEA;
  border-bottom: none;
  display: block;
}

.cornerbox {
  position: absolute;
  top: 0;
  right: 0;
  padding: .3em;
  box-sizing: border-box;
  text-align:center;
}

.subsection_parent {
  margin:0;
  padding: 0;
  list-style-type: none;
}

.subsection_inside_child {
  float: left;
  width: 20%;
  padding: 1em 0 1em 0;
  box-sizing: border-box;
  text-align: center;
}

.subsection_outside_child {
  float: left;
  width: 20%;
  /*padding: 1em 0 1em 0;*/
  box-sizing: border-box;
  border: 2em;
  padding-left: 1em;
  padding-top: 1em;
}

.subsection_outside_child_left {
  float: left;
  width: 20%;
  box-sizing: border-box;
  border: 2em;
  padding-right: 1em;
  padding-top: 1em;
  text-align: right;
}

.remove_underline {
  text-decoration: none;
}

.list_outside {
  list-style-type: none;
  border-style: none;
  box-sizing: border-box;
  float: left;
  width: 50%;
}

.color_blue {
  color: #84BBEA;
}

.border_corner_blue {
  border: .2em solid #84BBEA;
}

.border_list-inside_blue {
  border-top: .2em solid #84BBEA;
  border-bottom: .2em solid #84BBEA;
  border-right: .2em solid #84BBEA;
}

.border_list-inside-leftmost_blue {
  border-top: .2em solid #84BBEA;
  border-bottom: .2em solid #84BBEA;
  border-left: .2em solid #84BBEA;
  border-right: .2em solid #84BBEA;
}
