@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  min-height: 100vw;
}

.item_for_sale {

  float: left;
  /*position: relative;*/

}

.image_tshirt {
  border: 1px solid #84BBEA;
}

.cornerbox_blue {
  border: 1px solid #84BBEA;
  /*position: absolute;*/
  /*top: 0;
  right: 0;*/
  /*height: 20%;
  width: 20%;*/
  /*padding: .5em 0 .5em 0;*/

  float: right;
  box-sizing: border-box;
  text-align:center;
  display: inline;

}

.subsection_parent {
  margin:0;
  padding: 0;
  list-style-type: none;
}

.subsection_child {
  float: left;
  border: 1px solid #84BBEA;
  width: 20%;
  padding: 1em 0 1em 0;
  box-sizing: border-box;
  text-align: center;
}

.remove_underline {
  text-decoration: none;
}

.list_outside {
  list-style-type: none;
  border-style: none;
  box-sizing: border-box;
  float: left;
  width: 50%;
}

.color_blue {
  color: #84BBEA;
}
