@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  min-height: 100vw;
}

/* shared classes */
.item_for_sale {
  float: left;
  margin-right: 2%;
  margin-bottom: 6%;
  position: relative;
}

.cornerbox {
  position: absolute;
  top: 0;
  right: 0;
  padding: .3em;
  box-sizing: border-box;
  text-align:center;
}

.image_tshirt {
  border: .2em solid #84BBEA;
  border-bottom: none;
  display: block;
}

.popup_origin {
  position: relative;
}

.no_list-items {
  list-style-type: none;
}

.subsection_parent {
  margin:0;
  padding: 0;
  list-style-type: none;
}

.subsection_inside_child {
  float: left;
  width: 20%;
  padding: 1em 0 1em 0;
  box-sizing: border-box;
  text-align: center;
}

.subsection_outside_child {
  float: left;
  width: 20%;
  /*padding: 1em 0 1em 0;*/
  box-sizing: border-box;
  border: 2em;
  padding-left: 1em;
  padding-top: 1em;
}

.subsection_outside_child_left {
  float: left;
  width: 20%;
  box-sizing: border-box;
  border: 2em;
  padding-right: 1em;
  padding-top: 1em;
  text-align: right;
}

.remove_underline {
  text-decoration: none;
}

.list_outside {
  list-style-type: none;
  border-style: none;
  box-sizing: border-box;
  float: left;
  width: 50%;
}

.font-size-2 {
  font-size: 1.2em;
}

.font-size-3 {
  font-size: 1.4em;
}

.font-size-4 {
  font-size: 1.6em;
}

.option_pane_float_items {
  float: left;
  width: 50%;
  padding: .5em 0 .5em 0;
}

/* blue t-shirt */
.color_blue {
  color: #84BBEA;
}

.border_corner_blue {
  border: .2em solid #84BBEA;
}

.border_list-inside_blue {
  border-top: .2em solid #84BBEA;
  border-bottom: .2em solid #84BBEA;
  border-right: .2em solid #84BBEA;
}

.border_list-inside-leftmost_blue {
  border-top: .2em solid #84BBEA;
  border-bottom: .2em solid #84BBEA;
  border-left: .2em solid #84BBEA;
  border-right: .2em solid #84BBEA;
}

.option_pane_blue {
  position: absolute;
  /*border: .2em solid #84BBEA;*/
  /*border: .2em solid #FFFFFF;*/
  border: .2em solid #84BBEA;
  width: 100%;
  bottom: 3.5em;
  padding: 0;
  left: -0.2em;
  opacity: 0;
  /*color: #FFFFFF;*/
}

.popup_origin:hover .option_pane_blue {
  opacity: 1;
  border: .2em solid #84BBEA;
  background-color: #FFFFFF;
  /*color: #84BBEA;*/
}

.popup_origin:hover {
  color: #84BBEA;
}

.border_corner_blue:hover {
  background-color: #84BBEA;
  color: #FFFFFF;
}

.border_list-inside-leftmost_blue:hover {
  background-color: #84BBEA;
  color: #FFFFFF;
}

.border_list-inside_blue:hover {
  background-color: #84BBEA;
  color: #FFFFFF;
}

.border_corner_blue:hover .remove_underline {
  color: #FFFFFF;
}

.border_list-inside-leftmost_blue:hover .remove_underline {
  color: #FFFFFF;
}

.border_list-inside_blue:hover .remove_underline{
  color: #FFFFFF;
}


/* pink t-shirt */

.color_pink {
  color: #D082AC;
}

/* yellow t-shirt */
.color_yellow {
  color: #D8AF74;
}

.color_green {
  color: #8FB98E;
}

.image_flip:active {
  color: green;
}
